{% extends 'base.html' %}

{% block title %}Messages-Randy Barber{% endblock title %}


{% block content %}
<div class="container mt-3">
    <h2>Contact Form Submissions</h2>

    <!-- Add this to your contact_list.html template -->

    <!-- Search form -->
    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="q" placeholder="Search...">
            <button class="btn btn-outline-secondary bg-gold text-light" type="submit">Search</button>
        </div>
    </form>

    <!-- Table header with sorting options -->
    <div class="table-responsive">
        <!-- Table header with sorting options -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <a href="?sort_by=id{% if sort_by == 'id' and not descending %}&descending=1{% endif %}"
                            class="text-gold">ID
                            {% if sort_by == 'id' %}
                            {% if descending %}&uarr;{% else %}&darr;{% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="?sort_by=name{% if sort_by == 'name' and not descending %}&descending=1{% endif %}"
                            class="text-gold">Name
                            {% if sort_by == 'name' %}
                            {% if descending %}&uarr;{% else %}&darr;{% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="?sort_by=email{% if sort_by == 'email' and not descending %}&descending=1{% endif %}"
                            class="text-gold">Email
                            {% if sort_by == 'email' %}
                            {% if descending %}&uarr;{% else %}&darr;{% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="?sort_by=phone_number{% if sort_by == 'phone_number' and not descending %}&descending=1{% endif %}"
                            class="text-gold">Phone Number
                            {% if sort_by == 'phone_number' %}
                            {% if descending %}&uarr;{% else %}&darr;{% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th class="text-gold">Message</th>
                    <th>
                        <a href="?sort_by=date{% if sort_by == 'date' and not descending %}&descending=1{% endif %}"
                            class="text-gold">Date
                            {% if sort_by == 'date' %}
                            {% if descending %}&uarr;{% else %}&darr;{% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="?sort_by=replied{% if sort_by == 'replied' and not descending %}&descending=1{% endif %}"
                            class="text-gold">Replied
                            {% if sort_by == 'replied' %}
                            {% if descending %}&uarr;{% else %}&darr;{% endif %}
                            {% endif %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phone_number }}</td>
                    <td>{{ contact.message_body|truncatechars:20 }}</td>
                    <td>{{ contact.date }}</td>
                    <td>
                        <!-- if replied display reply or else display reply button -->
                        {% if contact.replied %}
                        <span class="text-black"><strong>Replied</strong></span>
                        {% else %}
                        <a href="{% url 'reply_to_contact' contact.id %}" class="btn btn-primary">Reply</a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No contact form submissions available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}