<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Dear {{ name }},</p>
    
    <p>Thank you for contacting us. We have received your message and will get back to you as soon as possible.</p>
    
    <p>Here are the details of your message:</p>
    
    <ul>
        <li><strong>Name:</strong> {{ name }}</li>
    </ul>
    
    <p>If you have any further questions or concerns, please feel free to contact us again.</p>
    
    <p>Best regards,<br>
    Randy's Barber</p>
</body>
</html>
