{% load static %}

<footer class="footer py-4 fixed-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-light btn-social mx-2" href="https://twitter.com/?lang=en" target="_blank"
                    aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-light btn-social mx-2" href="https://www.facebook.com/" target="_blank"
                    aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-light btn-social mx-2" href="https://www.instagram.com/" target="_blank"
                    aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-light text-decoration-none me-3" href="{% url 'create_appointment' %}">Book Appointment</a>
            </div>
        </div>
    </div>
</footer>