{% load static %}

<!-- Testimonial -->
<section>
    <div class="container pt-5">
        <h1 class="section-header">Testimonial<span>We appreciate the you are happy of our Service.</span>
        </h1>
        <div class="testimonials">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="single-item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile">
                                        <div class="img-area">
                                            <img src="{% static 'images/testi-2.jpg' %}" alt="">
                                        </div>
                                        <div class="bio">
                                            <h2>Steven</h2>
                                            <h4>Web Developer</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="content">
                                        <p><span><i class="fa fa-quote-left"></i></span>Super easy to book
                                            online. I didn’t have to wait at all when I got to the barbershop.
                                            The hairdresser was friendly, efficient, and skilled — I got a great
                                            haircut! Lower priced than anything else in (GER). Highly recommend
                                            Barbershop!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="single-item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile">
                                        <div class="img-area">
                                            <img src="{% static 'images/testi-3.jpg' %}" alt="">
                                        </div>
                                        <div class="bio">
                                            <h2>Samuel-Leroy</h2>
                                            <h4>UI/UX Designer</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="content">
                                        <p><span><i class="fa fa-quote-left"></i></span> I have definitely found
                                            my new go-to barbershop. I was totally shocked by their affordable
                                            offered services. Despite their affordable rate, they still provided
                                            their fellow customers a high-quality haircut. I am very grateful
                                            that I came to this place for my hair. The best of the best place to
                                            come for any hairstyle dreams.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="single-item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile">
                                        <div class="img-area">
                                            <img src="{% static 'images/testi-1.jpg' %}" alt="">
                                        </div>
                                        <div class="bio">
                                            <h2>Olivia O.K</h2>
                                            <h4>Graphic Designer</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="content">
                                        <p><span><i class="fa fa-quote-left"></i></span>Had my hair cut after
                                            booking an appointment online today. Looks great, the barbers were
                                            friendly, and I was in and out in 20 minutes. I’ll be returning.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
</section>
<!-- Testimonial Ends -->