{% load static %}

<!-- What we do -->
<section class="what-we-do pt-5 pb-5">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading " id="sub-header">We are at your Service at any time</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Service item 1-->
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'images/men_hair.jpg' %}" alt="service-image" />

                    <div class="service-caption">
                        <div class="service-caption-heading text-bg-light text-center pt-2 pb-2">Men Haircut
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Service item 2-->
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'images/beard.jpg' %}" alt="service-image" />

                    <div class="service-caption">
                        <div class="service-caption-heading text-bg-light text-center pt-2 pb-2">Beard
                            Trimming</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Service item 3-->
                <div class="service-item">

                    <img class="img-fluid" src="{% static 'images/colour.jpg' %}" alt="service-image" />

                    <div class="service-caption">
                        <div class="service-caption-heading text-bg-light text-center pt-2 pb-2">Coloring
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Service item 4-->
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'images/styling.jpg' %}" alt="service-image" />

                    <div class="service-caption">
                        <div class="service-caption-heading text-bg-light text-center pt-2 pb-2">Styling</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Service item 5-->
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'images/women.jpg' %}" alt="service-image" />

                    <div class="service-caption">
                        <div class="service-caption-heading text-bg-light text-center pt-2 pb-2">Women
                            Haircut</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Service item 6-->
                <div class="service-item">
                    <img class="img-fluid" src="{% static 'images/kids.jpg' %}" alt="service-image" />

                    <div class="service-caption">
                        <div class="service-caption-heading text-bg-light text-center pt-2 pb-2">Kids Haircut
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ends What we do  -->

<!--Opening Time-->
<section class="openings">
    <div class="container text-center ">
        <h2>OPENING HOURS</h2>
        <p>We are always at your Service</p>
        <table class="table table-borderless">
            <tbody>
                <!--Day 1-->
                <tr>
                    <td class="day">MONDAYS</td>
                    <td class="times">CLOSED</td>
                </tr>
                <!--Day 2-->
                <tr>
                    <td class="day">TUESDAYS</td>
                    <td class="times">10AM-8PM</td>
                </tr>
                <!--Day 3-->
                <tr>
                    <td class="day">WEDNESDAYS</td>
                    <td class="times">10AM-8PM</td>
                </tr>
                <!--Day 4-->
                <tr>
                    <td class="day">THURSDAYS</td>
                    <td class="times">10AM-8PM</td>
                </tr>
                <!--Day 5-->
                <tr>
                    <td class="day">FRIDAYS</td>
                    <td class="times">10AM-8PM</td>
                </tr>
                <!--Day 6-->
                <tr>
                    <td class="day">SATURDAYS</td>
                    <td class="times">10AM-8PM</td>
                </tr>
                <!--Day 7-->
                <tr>
                    <td class="day">SUNDAYS</td>
                    <td class="times">CLOSED</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<!--End Opening Time-->

<!-- What we do -->
<section class="what-we-do pt-5 pb-5">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">OUR TEAM</h2>
            <h3 class="section-subheading " id="sub-header">We are at your Service at any time</h3>
        </div>
        <div class="row">
            <div class="container-fluid col-md-8 mb-4  ">
                <div class="card rounded-0 align-items-center">
                    <img src="{% static 'images/randy.jpg' %}" class="card-img-top img-fluid" alt="Image Alt Text">
                    <div class="card-body">
                        <h5 class="card-title text-center">Randy</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Ends What we do  -->